<div class="">
<h2> {{title}} </h2>

<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="anrede">Anrede</label>
    <select id="anrede" formControlName="anrede">
      <option value="Herr">Herr</option>
      <option value="Frau">Frau</option>
      <option value="Divers">Divers</option>
    </select>
  </div>
  <div>
    <label for="vorname">Vorname*</label>
    <input id="vorname" formControlName="vorname" type="text" required>
  </div>
  <div>
    <label for="nachname">Nachname*</label>
    <input id="nachname" formControlName="nachname" type="text" required>
  </div>
  <div>
    <label for="geburtsdatum">Geburtsdatum*</label>
    <input id="geburtsdatum" formControlName="geburtsdatum" type="date" required>
  </div>
  <div>
    <label for="adresse">Adresse</label>
    <input id="adresse" formControlName="adresse" type="text">
  </div>
  <div>
    <label for="plz">PLZ</label>
    <input id="plz" formControlName="plz" type="text">
  </div>
  <div>
    <label for="ort">Ort</label>
    <input id="ort" formControlName="ort" type="text">
  </div>
  <div>
    <label for="land">Land*</label>
    <select id="land" formControlName="land">
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
  </div>
  <button type="submit">Absenden</button>
</form> 
</div>